@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

$base-font-family: "Open Sans",
sans-serif;
$mobile-padding: 1rem;
$tablet-padding: 1.5rem;
$desktop-padding: 4rem;

$color: (global-black: #161616,
    global-white: #FFFFFF,
    borders: #e9e9e9,
    regular-black: #333333,
    github-grey:rgb(255 255 255 / 15%),
    loading-grey:#f1f2f3,
    optimal-grey: #949495,
    black-opacity: rgba(32, 32, 34, 1));

@function color($color-name) {
    @return map-get($color, $color-name);
}