@use './styles/partials/mixins'as *;
@use './styles/partials/typography'as *;

.currently-working {

  display: flex;
  flex-direction: column;
  padding: $mobile-padding;


  &__title {
    @include h2;
    margin-bottom: 1rem;
    text-align: center;
  }

  &__description {
    @include p1;
    margin-bottom: 1rem;
    text-align: center;
  }
}

.currently-working-card {
  padding: 2rem;
  display: flex;
  border-radius: 4px;
  flex-direction: column;
  margin-bottom: 2rem;
  background-color: color(borders);

  &__title {
    @include m-h1;
    margin-bottom: .5rem;
    font-weight: 600;
  }

  &__description {
    @include p1;
    margin-bottom: .5rem;
    font-weight: 300;
  }

  &__url {
    @include m-p3;
    font-weight: 300;
  }
}

.dark-mode {

  .currently-working {

    color: color(global-white);

    &__title,
    &__description {
      color: color(global-white)
    }
  }

  .currently-working-card {
    background-color: color(black-opacity);

    &__title,
    &__description,
    &__url {
      color: color(global-white)
    }
  }

}