@use './styles/partials/mixins'as *;
@use './styles/partials/typography'as *;
@use './partials/resets';
@use './Header.scss';
@use './Home.scss';
@use './Sidebar.scss';
@use './Projects.scss';
@use './CurrentlyWorkingOn.scss';
@use './BlogList.scss';
@use './Thankyou.scss';
@use './BlogPost.scss';
@use './Prism.scss';


.loading {
  position: absolute;
  z-index: 100;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: color(loading-grey);
  width: 100%;

  &__icon {
    width: 50px;
  }

  &__description {
    @include m-p1;
  }
}

// progress color
#nprogress .bar {
  background: color(global-black) !important;
}


.dark-mode {
  background-color: color(global-black);

  #nprogress .bar {
    background: color(global-white) !important;
  }
}

.light-mode {
  background-color: color(global-white);
}