@use './styles/partials/mixins'as *;
@use './styles/partials/typography'as *;

.projects {

  display: flex;
  flex-direction: column;
  padding: $mobile-padding;
  scroll-behavior: smooth;


  @include tablet {
    padding: $tablet-padding;
    padding-top: 5rem;
    padding-bottom: 0;
  }

  @include desktop {
    padding: $desktop-padding;
    padding-top: 7rem;
    padding-bottom: 0;
  }

  &__title {
    @include h2;
    margin-bottom: 1rem;
    text-align: center;
  }

  &__description {
    @include p1;
    margin-bottom: 1rem;
    text-align: center;
  }
}

.projects-card {
  padding: 2rem;
  display: flex;
  border-radius: 4px;
  flex-direction: column;
  margin-bottom: 2rem;
  background-color: color(borders);
  transform: scale(1);
  transition: transform .5s ease;

  &:hover {
    transform: scale(1.1);
    transition: transform .5s ease;
  }

  &__title {
    @include m-h2;
    margin-bottom: .5rem;
    font-weight: 600;
  }

  &__description {
    @include p1;
    margin-bottom: .5rem;
    font-weight: 300;
  }

  &__url {
    @include m-p3;
    font-weight: 300;
  }
}

.dark-mode {

  .projects {

    color: color(global-white);

    &__title,
    &__description {
      color: color(global-white)
    }
  }

  .projects-card {
    background-color: color(black-opacity);

    &__title,
    &__description,
    &__url {
      color: color(global-white)
    }
  }

}