@use './styles/partials/mixins'as *;
@use './styles/partials/typography'as *;



.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $mobile-padding;
  text-align: center;
  //margin-top: 5rem;
  height: 100vh;

  @include tablet {

    padding: $tablet-padding;
    align-items: initial;
  }

  @include desktop {
    padding: $desktop-padding;
  }

  &__avatar {
    border-radius: 50%;
    margin-bottom: 1rem;
    width: 120px;
    height: 120px;
  }

  &__title {
    @include h2;
    margin-bottom: 1rem;

    @include tablet {
      @include h1;
      text-align: left;
    }
  }

  &__paragraph {
    @include p1;
    margin-bottom: 1rem;
    max-width: 400px;

    @include tablet {
      text-align: left;
      max-width: 100%;
      width: 80%;
    }
  }
}

.sidebar-connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include tablet {
    flex-direction: row;
    justify-content: initial;
  }
}

.sidebar-connect-icons {
  margin-bottom: 1rem;
  border: 1px solid color(global-black);
  border-radius: 30px;
  padding: .5rem 1rem .5rem 1rem;

  @include tablet {
    margin-right: 1rem;
  }

  &__social {
    margin-right: 1rem;
  }

  &__text {
    margin-right: 1rem;
  }

}

.dark-mode {

  .sidebar__title,
  .sidebar__paragraph,
  .sidebar-connect-icons__social,
  .sidebar-connect-icons__text,
  .sidebar-connect-icons__link {
    color: color(global-white);
  }

  .sidebar-connect-icons {
    border: 1px solid color(global-white);
  }
}