@use './styles/partials/mixins'as *;
@use './styles/partials/typography'as *;



.thankyou {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: $mobile-padding;
  text-align: center;

  @include tablet {
    padding: $tablet-padding;
  }

  @include desktop {
    padding: $desktop-padding;
  }

  &__title {
    @include h2;
    margin-bottom: 1rem;
  }

  &__description {
    @include p1;
    margin-bottom: 1rem;

    &--link {
      color: color(optimal-grey);
    }
  }
}


.thankyou-connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.thankyou-connect-icons {
  margin-bottom: 1rem;
  border: 1px solid color(global-black);
  border-radius: 30px;
  padding: .5rem 1rem .5rem 1rem;

  @include tablet {
    display: none;
  }

  &__social {
    margin-right: 1rem;
  }

  &__text {
    margin-right: 1rem;
  }

}

.dark-mode {

  .thankyou__title,
  .thankyou__description,
  .thankyou-connect-icons__social,
  .thankyou-connect-icons__text,
  .thankyou-connect-icons__link {
    color: color(global-white);

    &--link {
      color: color(optimal-grey);
    }
  }

  .thankyou-connect-icons {
    border: 1px solid color(global-white);
  }

}